# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs and binaries
node_modules
dist
dist-ssr
*.apk
*.aab
*.local
.env
.env.local
.env.*.local
!.env.example

# Temporary / Test files & assets
public/products/
public/products/*
public/templates_hero_bg.jpg
Slipzo.apk
*.test.js
*.spec.js
test/
seed/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

